.background-white {
  background-color: white;
}

.event_cover img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.event-info-show {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  }

.event-info-show h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

.event-info-show p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.event-info-show h2, p {
  text-align: left;
}

.event_map img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}
