.charcoal-circle-button {
  box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
  border: .5em solid #413E44;
  font-size: 1em;
  line-height: 1.1em;
  color: #ffffff;
  background-color: #413E44;
  margin: auto;
  border-radius: 50%;
  height: 7em;
  width: 7em;
  position: relative;
  margin-top: 20px;
}
.charcoal-circle-button:hover {
  color:#ffffff !important;
    background-color: #413E44;
  text-decoration: none;
  border-color: #756868 ;

}
.charcoal-circle-button:visited {
  color:#ffffff;
    background-color: #413E44;
  text-decoration: none;

}
.charcoal-circle-link-greater-than {
    font-size: 1em;
}

.charcoal-circle-button-red {
  box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
  border: .5em solid #AC1B00;
  font-size: 1em;
  line-height: 1.1em;
  color: #ffffff;
  background-color: #AC1B00;
  margin: auto;
  border-radius: 50%;
  height: 7em;
  width: 7em;
  position: relative;
  margin-top: 20px;
}
.charcoal-circle-button-red:hover {
  color:#ffffff !important;
  background-color: #AC1B00;
  text-decoration: none;
  border-color: #AC1B00 ;

}
.charcoal-circle-button-red:visited {
  color:#ffffff;
  background-color: #AC1B00;
  text-decoration: none;

}
.charcoal-circle-link-greater-than-red {
    font-size: 1em;
}

.join-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}


.inline-avatar li {
  list-style-type: none;
  margin: none;
}

.inline-avatar ul {
  padding-inline-start: 0;
}

.inline-avatar-lg img {
  width: 5px;
  height: 5px;
}

.inline-avatar-lg li {
  list-style-type: none;
  margin: none;
}

.inline-avatar-lg ul {
  padding-inline-start: 0;
}

.div-size {
  margin-left: 10px;
  height: 60px;
}

#image-list{
  height: 300px;
}