.card-header{
  background-image: url('https://images.unsplash.com/photo-1504025468847-0e438279542c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') !important;
  padding: 0 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align:center;
}
.card{
  overflow: hidden;
  border:0 !important;
  width: 350px;
  box-shadow: 0px 0px 15px 1px;
  -webkit-box-shadow:0px 0px 15px 1px;
}
.profile_pic{
  position: absolute;
  bottom: -50px;
  height: 112px;
  width: 112px;
  padding: 5px;
  // border: 2px solid #f39c12;
  border-radius: 50%;
}
.card-body{
  padding-top: 50px !important;
}
.profile_pic img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.name_container{
  display: flex;
  justify-content: center;

}
.username{
  font-size: 20px;
  font-weight: 700;
  color: gray;
  position: relative;
// }
// .username::after{
//   font-family: "Font Awesome 5 Free";
//   // content: '\f058';
//   position: absolute;
//   right: -15px;
//   top:0;
//   font-size: 15px;
//   font-weight: 700;
//   color: #4CAF50;
}
.fullname{
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: gray;
  position: relative;
}

.bungee-font-small-friends {
  font-family: 'Bungee Inline', cursive;
  font-size: 25px;
  color: #413E44;
  text-align: center;
  position: relative;
}
