
.routes-container {
  position: fixed;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.map-background {
  background-image: url(asset_path('map.png'));
  width: 100%;
  height: 400px;
}

.input-group {
  padding: 5px;
}

.searchbar{
   margin-top: auto;
   margin-bottom: auto;
   height: 50px;
   background-color: black;
   border-radius: 30px;
   padding: 10px;
   }

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  line-height: 30px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 200px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: black;
  color: white;
  }

  .search_icon{
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: black;
  text-decoration:none;
  }

  // Dropup menu settings

$color-main: #ceefed;
$color-active: black;
$color-link: #ceefed;

$button-height: 10px;
$button-width: 23px;

.button_container {
  position: fixed;
  top: 2%;
  left: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 101;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
  background: $color-active;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: 0.96;
    z-index: 100;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

#mapa {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}
