.text-center {
  font-family: Oxanium;
  align-items: center;
}

.profile-card {

}

.clip_path {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin-top: 0 !important;
  margin: 10px auto 20px;
  display: block;
}


.background-profile-page {
  position: absolute;
  top: 0;
  height: 118px;
  z-index: -1;
  right: 0;
  width: 120%;
  margin-bottom: 5px

}

.profiles-photo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 0px !important;
  margin-bottom: 0 !important;
  margin: 10px auto 20px;
  display: block;

}

.fullname-profile {
  font-family: 'Sen', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: black;
  text-align: center;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.username-profile {
  font-family: 'Sen', sans-serif;
  font-weight: 300;
  color: black;
  margin: 10px auto 20px;
  text-align: center;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.user-info {
  margin: 10px;
  margin-top: 60px;
  color: black;
  font-family: sans-serif;
}

.background-image {
  width: 100%;
  height: 300px;
}

.btn-animate {
  background-color: #413E44;
  color: black;
  font-size: 16px;
  font-family: 'Titillium Web', 'Times New Roman', Times, serif ;
  border: none;
  width: 100px;
  text-align: center;
  margin-top: 5px;
  border-radius: 24px;
}

.btn-animate a {
  color: #fffbe8;
  font-family: roboto;
}

.button-right {
  text-align: right !important;
  width: 100%;
}

.profile-box {
  width: 60%;
}


.routes_history_card a {
  text-decoration: none;
}


