button = document.querySelector(".fs-it-btn");
if (button) {
    const text = `<i class="fas fa-check"></i>
    <span class="fs-it-btn-vertical-line"></span>
    Friend request sent!`
    button.innerHTML=text;
}