<div class="container">

  <div>
    <div class="event-info-show">
    <h2>Early morning</h2>
      <p> <strong>Description: </strong>Early morning run passing by some important London spots. </p>
    </div>
    <div>
      <p><strong><i class="fas fa-map-marker-alt"></i></strong> London Bridge  </p>
      <p><strong><i class="fas fa-running"></i></strong> 5km </p>
      <p><strong><i class="fas fa-clock"></i></strong> 6am</p>
      <p><i class="fas fa-users"></i></p>
    </div>
  </div>

  <div class="event_cover">
    <%= image_tag "test_4.jpg" %>
  </div>

</div>
