<h1>Pages#home</h1>

<div class="routes-container">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Route</span>
    </div>
    <input type="text" class="form-control">
    <input type="text" class="form-control">
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Route</span>
    </div>
    <input type="text" class="form-control">
    <input type="text" class="form-control">
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Route</span>
    </div>
    <input type="text" class="form-control">
    <input type="text" class="form-control">
  </div>
</div>
