<div class="container center">
  <h2 class="bungee-font center-style"> Rooty </i></strong></h2>
  <br>
  <h4 class="center-style">Generate a <strong>Route</strong> in 30 seconds!</h4>
  <br>
  <div class="center-style">
    <button class="btn btn-gray large-print"><%= link_to "GENERATE YOUR ROUTE", map_path %></button>
  </div>
</div>
