
<div class="image-background-home another-gradient">
  <div class="container center mt-5">
    <div class="trial-color">
      <h2 class="bungee-font-home center-style">A ROUTE LIKE NO OTHER</h2>
      <br>
      <br>
      <br>
      <div class="center-style">
        <button class="btn btn-gray large-print"><%= link_to "GENERATE YOUR ROUTE", map_path %></button>
      </div>
    </div>
  </div>
</div>

