<div class="image-background-home another-gradient">
  <div class="container center mt-5">
      <h2 class="bungee-font-home center-style">A ROUTE LIKE NO OTHER</h2>
      <br>
      <div class="container flex-direction-column justify-content-center">
        <div class="text-center">
          <%= form_for @new_node do |f|%>
            <div class="search-container h-100">
              <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                  <%= f.text_field :address, class: "search_input", placeholder: "Search location" %>
                  <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
         <% end %>
        </div>
      </div>
  </div>
</div>

