* {
  margin: 0;
}

.card-home {
  overflow: hidden;
  width: 100%;
  height: 160px;
  background: white;
  opacity:0.6;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  flex-direction: column;
  position: fixed;
  bottom: 1px;
  left: 2px;
  right: 2px;
  font-size: 24px;
}

.card-home input {
  width: 50%;
  font-size: 16px;
  text-align: center;
}

.card-home button {
  opacity: 1 !important;
}

.user-profile-page-card {
  align-items: center !important;
  display: flex !important;
  margin-right: -15px;
  margin-left: -15px;
}
.card-event {
  overflow: hidden;
  height: 150px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 10px;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.event-new-version {
  height: 220px;
  overflow: hidden;
  background: white;
  margin-bottom: 20px;
  border: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);

  .card-event-info p {
    font-size: 16px;
    font-weight: ligther;
  }

  .card-event-info h2 {
    font-size: 24px;
    font-weight: bold;
  }

  .card-event-info h2 , p {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.event-new-version img {
  height: 105px;
  width: 100%;
  object-fit: cover;
}

.card-image {
  position: relative;

  .div-size-events-show {
    position: absolute;
    bottom: 90px;
    right: 20px;
  }

  ul {
    margin: 0;

    img {
      margin: 0;
      border-radius: 50%;
    }
  }
}

.event-small-card-image {
  position: absolute;
  top: 0;
  right: 0;
}

.card-history-profile {
  overflow: hidden;
  height: 100px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  border: 10px;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.card-event-profile {
  overflow: hidden;
  height: 135px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  border: 10px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
    h5{
      margin:0;
    }
}

.big-card-profile{
  margin-bottom: 20px;
}

.card-history-profile img {
  height: 100%;
  width: 30%;
  object-fit: cover;
  border-radius: 8px 0 0 0;
}

.card-event-profile img {
  height: 100%;
  width: 30%;
  object-fit: cover;
  border-radius: 8px 0 0 0;
}

.card-event img {
  width: 30%;
  object-fit: cover;
  border-radius: 8px;
}

.card-event h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-event p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.card-event h2, p {
  text-align: left;
  margin: 10px;
  }

.card-event-lg {
  overflow: hidden;
  height: 250px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0,0,0,0.05);
}

.card-event:hover {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.card-event-lg img {
  height: 100%;
  width: 50%;
  object-fit: cover;


}
  .card-event-lg h2 {
    font-size: 24px;
    font-weight: bold;
  }

  .card-event-lg p {
    font-size: 16px;
    font-weight: ligther;
  }

  .card-event-lg h2, p {
    text-align: left;
    margin: 10px;
    }

  .card-event-lg-info {
    display: flex;
    justify-content: left;
    display: inline-table;
  }


.bottom-img {
  background-image: url(wireframe.png);
  opacity: 0.5;
  position: fixed;
  z-index:-1;
  bottom: 0;
  height: 300px;
  width: 100% !important;
  margin-right: 15px;
}

  .event-creator{
    border-radius: 0 0 8px 8px;
  }
