a {
  color: #413E44 !important;
  opacity: 0.9;
}

.background-color {
  background-color: #FFFBE8;
}

.bottom-img-events {
  opacity: 0.9;
  position: fixed;
  z-index:-1;
  bottom: 0;
  height: 350px;
  width: 100% !important;
}

.bottom-img-profile {
  opacity: 0.1;
  position: fixed;
  z-index:-1;
  bottom: 0;
  height: 800px;
  width: 100% !important;
  left: 0;
}

.bottom-img-friends {
  opacity: 0.9;
  position: fixed;
  z-index:-1;
  bottom: 0;
  height: 500px;
  left: 0;
  width: 100% !important;
}
.add-stop {
  text-align: left;
  border-radius: 4px;
}

.add-stop div {
  display:block;
  box-sizing: border-box;
}
