.container {
  margin-top: 35px;
}

.background-color {
  background-color: #FFFBE8;
}


.add-stop {
  text-align: left;
  border-radius: 4px;


}

add-stop div {
  display:block;
  box-sizing: border-box;
}
