.navbar-lewagon {
  background-color: white;
  justify-content: space-between;
  opacity: 1 !important;
  z-index: 101;
  position: fixed;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bg-blue {
  background-color: rgba(255,255,255,0.1);
}

.navbar-toggler {
  color: blue;
}

.navbar-toggler-icon {
  background-image: url("navbar-icons.png");
 border-left: 0;
}

.navbar-position {
  margin-left: 0px;
}

.logo-position {
  position: left;
  margin-left: 350px;
  margin-top: 5px;
}


.profile-photo {
   position:absolute;
   top:0;
   right:0;
   margin-right: 10px !important;
}

.background-nav {
  background-color: black;
}

.trans {
  background: transparent;
}

.carousel-item {
  border: none !important ;
}
